{% extends 'base.html.twig' %}

{% block title %}Categorie #{{ category.name }}{% endblock %}

{% block body %}
            <h1 class="mt-0">{{ category.name }}</h1>
            {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}
    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}